# Assignment 1 Solution

In [1]:
import sqlite3

sql = sqlite3.connect('Assignment1.sql')
c = sql.cursor()

c.execute('DROP TABLE IF EXISTS Ages')
c.execute('''
    CREATE TABLE Ages (
        name VARCHAR(128),
        age INTEGER
    )
''')

sql.commit()
sql.close()

In [2]:
sql = sqlite3.connect('Assignment1.sql')
c = sql.cursor()

c.execute("INSERT INTO Ages (name, age) VALUES ('Mara', 28)")
c.execute("INSERT INTO Ages (name, age) VALUES ('Otto', 33)")
c.execute("INSERT INTO Ages (name, age) VALUES ('Fyn', 31)")
c.execute("INSERT INTO Ages (name, age) VALUES ('Neshawn', 17)")

sql.commit()
sql.close()

In [3]:
sql = sqlite3.connect('Assignment1.sql')
c = sql.cursor()

c.execute("SELECT * FROM Ages")
print('''Table COUNTS
------------
name | age
------------''')
for name, age in c.fetchall():
    print(f"{name} {age}")

Table COUNTS
------------
name | age
------------
Mara 28
Otto 33
Fyn 31
Neshawn 17

In [4]:

c.execute("SELECT hex(name || age) AS X FROM Ages ORDER BY X")
result = c.fetchone()

print(result[0])

46796E3331

# Answer